{% extends "regulations/base.html" %}
{% load static %}
{% block title_prefix %}About This Tool |{% endblock title_prefix %}
{% block header %}
    {% include "regulations/partials/header.html" %}
{% endblock header %}
{% block body %}
    <div class="site-container">
        <main class="about">
            <h1>About</h1>
            <section>
                <p>
                    Policy Connector is a customizable policy knowledge management application. It simplifies the complex task of navigating government policy information, which often resides across a variety of platforms and sources — both internal and external.
                </p>
                <p>
                    The challenge of conducting policy research and analysis can be time-consuming and burdensome. By centralizing and organizing a wide range of public policy sources — including regulation text, proposed and final rules, statute citations, court cases, executive orders and memos, subregulatory guidance, and other critical resources — Policy Connector makes it easier to find the information you need in one place. It is the ultimate tool for knowledge retention and staff training.
                </p>
                <p>
                    This demo highlights how Policy Connector can be used to navigate and research federal employment policy.
                </p>
            </section>
            <section>
                <h2>
                    Our Company
                </h2>
                <p>
                   We are <strong><a href="https://www.a1msolutions.com/" class="external" target="_blank" rel="noopener noreferrer">A1M Solutions</a></strong>. We embed policy and domain expertise into cross functional agile teams to deliver sustainable outcomes with measurable value. Our design is grounded in user research and testing, leading to faster delivery of usable code.
                </p>
                <p>
                    Want a new instance of Policy Connector for your nonprofit or government agency, adapted to your policy area and unique needs? Want to discuss another project or partnership? <strong><a href="https://www.a1msolutions.com/hire-us" class="external" target="_blank" rel="noopener noreferrer">Send us a message</a></strong>.
                </p>
                <h2>
                    Contact Us
                </h2>
                <p>
                    If this site helps you, please send us a note at <strong>hello@a1msolutions.com</strong>. To correct an error or omission, report a bug, or make a suggestion, <a href="https://github.com/A1MSolutions/policyconnector/issues" class="external" target="_blank" rel="noopener noreferrer">file an issue on GitHub</a> or email us. You are also invited to <a href="https://github.com/A1MSolutions/policyconnector" class="external" target="_blank" rel="noopener noreferrer">contribute to the code</a>.
                </p>
            </section>
            <section id="automated-updates">
                <h2>
                    How This Site Is Updated
                </h2>
				<h3>
                    Curated links to resources
                </h3>
                <p>
                    To incorporate executive orders, memos, guidance, agency publications, and other kinds of resources, we add links to the database by hand and annotate them with related regulations and executive actions. We make an effort to keep this site up to date, but we cannot promise a specific cadence of updates.
                </p>
				<h3>
                    Free public government APIs
                </h3>
				<p>
					This tool displays regulation text from <a href="https://www.ecfr.gov/" class="external" target="_blank" rel="noopener noreferrer">eCFR</a>. When new rules become effective, the Office of the Federal Register incorporates them into eCFR <a href="https://www.ecfr.gov/reader-aids/understanding-the-ecfr/how-is-the-ecfr-updated" class="external" target="_blank" rel="noopener noreferrer">within two business days</a>. This tool syncs with eCFR once a day using the <a href="https://www.ecfr.gov/reader-aids/ecfr-developer-resources/rest-api-interactive-documentation" class="external" target="_blank" rel="noopener noreferrer">eCFR API</a>. So, it can take up to three business days for changes to be incorporated into this tool.
				</p>
				<p>
					Links to new rules are pulled automatically from the <a href="https://www.federalregister.gov/" class="external" target="_blank" rel="noopener noreferrer">Office of the Federal Register</a> once a day, using the <a href="https://www.federalregister.gov/developers/documentation/api/v1" class="external" target="_blank" rel="noopener noreferrer">Federal Register API</a>.
                </p>
                <p>
                    This tool also uses the <a href="https://www.govinfo.gov/link-docs/" class="external" target="_blank" rel="noopener noreferrer">GovInfo link API</a> to provide links to past versions of regulations.
                </p>
                </section>
        </main>
    </div>
{% endblock body %}
