{% extends "regulations/base.html" %}
{% load static %}
{% load render_nested %}

{% block title_prefix %}{% endblock %}

{% block body_class %}site-homepage--update{% endblock %}

{% block pre_header %}
<a class="ds-c-skip-nav" href="#main-content">Skip to main content</a>
{% endblock %}

{% block header %}
    {% include "regulations/partials/header.html" %}
{% endblock %}

{% block body %}
<main>
    <nav id="placeholderNav"></nav>
    <left-nav-collapse contents-description="table of contents">
        <template #nav-contents>
            <toc-container
                api-url="{{ API_BASE }}"
                home-url="{% url 'homepage' %}"
            ></toc-container>
        </template>
    </left-nav-collapse>
    <div id="main-content">
        <div class="top-container">
            
        	<div class="contact-signup__container">
            <div class="contact-signup">
                <div class="contact-signup__column contact__column">
                    <div>
                        <h4>Research Federal Employment Policy</h4>
                        <p>
                            Search across statute, regulations, and guidance in one place. Find exactly what you need and discover how policies relate to each other.
                            <a class="contact" href="{% url 'about' %}" >See how it works</a>.
                        </p>
                    </div>
                </div>
                <!--<div class="contact-signup__column signup__column">
                    <div>
                        <h4>Contact or Hire Us</h4>
                        <p>Make suggestions, tell us if this site helped you, or learn about this open source project and our company. <a class="contact" href="{% url 'about' %}" >Learn more</a>.</p>    
                    </div>
                </div>-->
            </div>
        </div>
          
        <h4>Featured Executive Orders and Memos</h4>
            
	         <div class="featured-eos">

                    <div class="policy-materials">
                            <div class="policy-materials__categories--parent">
                                <div class="policy-materials__categories">
                                    <span class="eo-identifiers">February 11, 2025 | EO 14210</span>
                                </div>
                            </div>
                            <div class="eo-text">
                                <p>
                                    Implementing the President's "Department of Government Efficiency" Workforce Optimization Initiative
                                </p>
                            </div>
                            <a
                                href='/subjects?subjects=1'
                                class="action-btn default-btn link-btn sample-search-btn"
                                >Find Related Policy</a
                            >                            
                        </div>
                        
                        <div class="policy-materials">
                            <div class="policy-materials__categories--parent">
                                <div class="policy-materials__categories">
                                    <span class="eo-identifiers">January 20, 2025 | EO 14171</span>
                                </div>
                            </div>
                            <div class="eo-text">
                                <p>
                                    Restoring Accountability to Policy-Influencing Positions Within the Federal Workforce
                                </p>
                            </div>
                            <a
                                href='/subjects?subjects=2'
                                class="action-btn default-btn link-btn sample-search-btn"
                                >Find Related Policy</a
                            >                            
                        </div>
                        
                        <div class="policy-materials">
                            <div class="policy-materials__categories--parent">
                                <div class="policy-materials__categories">
                                    <span class="eo-identifiers">January 20, 2025 | Memo</span>
                                </div>
                            </div>
                            <div class="eo-text">
                                <p>
                                    Restoring Accountability for Career Senior Executives
                                </p>
                            </div>
                            <a
                                href='/subjects?subjects=8'
                                class="action-btn default-btn link-btn sample-search-btn"
                                >Find Related Policy</a
                            >                            
                        </div>
                        
            	</div>
                            
            <div class="cta__container">
                <div class="cta">
                   
                    <!--<div class="about-text__container">
                        <p>
                            Policy Connector organizes together regulations,
                            subregulatory guidance, and other related policy
                            materials.
                        </p>
                        <a
                            href="{% url 'about' %}"
                            class="action-btn default-btn link-btn"
                            >Learn About This Tool</a
                        >
                    </div>-->
                </div>
            </div>
            <div class="cta__container">
                <div class="cta">
                    <div class="resources__container">
                        <recent-resources
                            api-url={{ API_BASE }}
                            home-url="{% url 'homepage' %}"
                        ></recent-resources>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}
